In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

In [2]:
# List of (Ticker, Weight) in portfolio
df = pd.read_excel("portfolio/example2.xlsx")

required_columns = ["Tickers", "Weights"]
if all(col in df.columns for col in required_columns):
    print("Found 'Tickers' and 'Weights' columns.")
else:
    missing = [col for col in required_columns if col not in df.columns]
    print(f"Missing columns: {missing}")

portfolio = []
for i in range(len(df)):
    portfolio.append([df.loc[i, 'Tickers'], df.loc[i, 'Weights']])

tickers = [i[0] for i in portfolio]
weights = np.array([i[1] for i in portfolio])
tickers, weights

Found 'Tickers' and 'Weights' columns.

(['AAPL', 'NVDA', 'SPY', 'VYM'], array([0.25, 0.25, 0.25, 0.25]))

In [3]:
yf_tickers = yf.Tickers(tickers)
stock_data = yf_tickers.history(period='2y', interval='1d')
stock_data

[*********************100%***********************]  4 of 4 completed

Price      Capital Gains            Close
Ticker               SPY  VYM        AAPL        NVDA         SPY         VYM
Date
2023-05-01           0.0  0.0  167.896820   28.891237  404.431458  100.522118  \
2023-05-02           0.0  0.0  166.857285   28.191689  399.885956   98.771286
2023-05-03           0.0  0.0  165.778168   27.783957  397.141113   97.811157
2023-05-04           0.0  0.0  164.134750   27.544111  394.328186   96.832199
2023-05-05           0.0  0.0  171.837082   28.661385  401.628235   98.404175
...                  ...  ...         ...         ...         ...         ...
2025-04-23           0.0  0.0  204.600006  102.709999  535.419983  121.860001
2025-04-24           0.0  0.0  208.369995  106.430000  546.690002  123.419998
2025-04-25           0.0  0.0  209.279999  111.010002  550.640015  123.300003
2025-04-28           0.0  0.0  210.139999  108.730003  550.849976  123.760002
2025-04-29           0.0  0.0  211.225006  109.339897  554.469971  124.440002

Price      Dividends                 ...        Open             Stock Splits
Ticker          AAPL NVDA  SPY  VYM  ...         SPY         VYM         AAPL
Date                                 ...
2023-05-01       0.0  0.0  0.0  0.0  ...  404.392516  100.569179          0.0  \
2023-05-02       0.0  0.0  0.0  0.0  ...  403.711165  100.173831          0.0
2023-05-03       0.0  0.0  0.0  0.0  ...  400.392057   98.837178          0.0
2023-05-04       0.0  0.0  0.0  0.0  ...  396.080181   97.387566          0.0
2023-05-05       0.0  0.0  0.0  0.0  ...  398.007418   97.858215          0.0
...              ...  ...  ...  ...  ...         ...         ...          ...
2025-04-23       0.0  0.0  0.0  0.0  ...  540.429993  122.779999          0.0
2025-04-24       0.0  0.0  0.0  0.0  ...  536.719971  121.900002          0.0
2025-04-25       0.0  0.0  0.0  0.0  ...  546.650024  123.180000          0.0
2025-04-28       0.0  0.0  0.0  0.0  ...  551.390015  123.449997          0.0
2025-04-29       0.0  0.0  0.0  0.0  ...  548.909973  123.269997          0.0

Price                         Volume
Ticker     NVDA  SPY  VYM       AAPL       NVDA        SPY      VYM
Date
2023-05-01  0.0  0.0  0.0   52472900  570329000   62122300  1277200
2023-05-02  0.0  0.0  0.0   48425700  402730000  103998500  4638900
2023-05-03  0.0  0.0  0.0   65136000  383387000   91531800  1844400
2023-05-04  0.0  0.0  0.0   81235400  321850000   94901900  1747900
2023-05-05  0.0  0.0  0.0  113316400  361494000   87844000  1162700
...         ...  ...  ...        ...        ...        ...      ...
2025-04-23  0.0  0.0  0.0   52929200  247526000   90590700  1093000
2025-04-24  0.0  0.0  0.0   47311000  220815000   64150400   782300
2025-04-25  0.0  0.0  0.0   38222300  251064700   61119600   756800
2025-04-28  0.0  0.0  0.0   38652400  207051900   47476700   988300
2025-04-29  0.0  0.0  0.0   22578163  134262390   34124541   828675

[501 rows x 30 columns]

In [4]:
close_prices = stock_data['Close']
close_prices

Ticker            AAPL        NVDA         SPY         VYM
Date
2023-05-01  167.896820   28.891237  404.431458  100.522118
2023-05-02  166.857285   28.191689  399.885956   98.771286
2023-05-03  165.778168   27.783957  397.141113   97.811157
2023-05-04  164.134750   27.544111  394.328186   96.832199
2023-05-05  171.837082   28.661385  401.628235   98.404175
...                ...         ...         ...         ...
2025-04-23  204.600006  102.709999  535.419983  121.860001
2025-04-24  208.369995  106.430000  546.690002  123.419998
2025-04-25  209.279999  111.010002  550.640015  123.300003
2025-04-28  210.139999  108.730003  550.849976  123.760002
2025-04-29  211.225006  109.339897  554.469971  124.440002

[501 rows x 4 columns]

In [5]:
returns = close_prices.pct_change().dropna()
returns

Ticker          AAPL      NVDA       SPY       VYM
Date
2023-05-02 -0.006192 -0.024213 -0.011239 -0.017417
2023-05-03 -0.006467 -0.014463 -0.006864 -0.009721
2023-05-04 -0.009913 -0.008633 -0.007083 -0.010009
2023-05-05  0.046927  0.040563  0.018513  0.016234
2023-05-08 -0.000403  0.016423  0.000266 -0.000765
...              ...       ...       ...       ...
2025-04-23  0.024332  0.038629  0.015495  0.006608
2025-04-24  0.018426  0.036218  0.021049  0.012802
2025-04-25  0.004367  0.043033  0.007225 -0.000972
2025-04-28  0.004109 -0.020539  0.000381  0.003731
2025-04-29  0.005163  0.005609  0.006572  0.005495

[500 rows x 4 columns]

In [6]:
mean_returns = returns.mean()
mean_returns

Ticker
AAPL    0.000602
NVDA    0.003252
SPY     0.000684
VYM     0.000463
dtype: float64

In [7]:
cov = returns.cov()
cov

Ticker      AAPL      NVDA       SPY       VYM
Ticker
AAPL    0.000288  0.000229  0.000126  0.000075
NVDA    0.000229  0.001196  0.000232  0.000093
SPY     0.000126  0.000232  0.000107  0.000074
VYM     0.000075  0.000093  0.000074  0.000073

In [8]:
def portfolio_performance(weights, mean_returns, cov, time):
    portfolio_return = np.sum(mean_returns * weights) * time
    portfolio_std = np.sqrt(np.dot(weights.T, np.dot(cov, weights))) * np.sqrt(time)
    return portfolio_return, portfolio_std

In [9]:
def historicalVaR(returns, alpha=5):
    return np.percentile(returns, alpha)

def historicalCVaR(returns, alpha=5):
    belowVaR = returns <= historicalVaR(returns, alpha)
    return returns[belowVaR].mean()

In [10]:
portfolio_returns = returns.dot(weights)
portfolio_returns

Date
2023-05-02   -0.014765
2023-05-03   -0.009379
2023-05-04   -0.008909
2023-05-05    0.030559
2023-05-08    0.003880
                ...
2025-04-23    0.021266
2025-04-24    0.022124
2025-04-25    0.013413
2025-04-28   -0.003079
2025-04-29    0.005710
Length: 500, dtype: float64

In [11]:
future_days = 100
confidence_interval = 95
investment = 10_000

hVaR = -historicalVaR(portfolio_returns, alpha=100-confidence_interval) * np.sqrt(future_days)
hCVaR = -historicalCVaR(portfolio_returns, alpha=100-confidence_interval) * np.sqrt(future_days)
portfolio_return, portfolio_std = portfolio_performance(weights, mean_returns, cov, future_days)

print(f"{'Expected Portfolio Return:':30} ${round(investment * portfolio_return, 2)}")
print(f"{f'Value at Risk {confidence_interval}th CI:':30} ${round(investment * hVaR, 2)}")
print(f"{f'Conditional VaR {confidence_interval}th CI:':30} ${round(investment * hCVaR, 2)}")

Expected Portfolio Return:     $1250.41
Value at Risk 95th CI:         $1937.51
Conditional VaR 95th CI:       $3107.07